{% extends 'pesticides/base.html' %}
{% block content %}
<div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">{{ formula }} </h5>
      <p class="card-text"><strong>Pesticide: </strong>{{ formula.pesticide }}</p>
      <p class="card-text"><strong>Pesticide Amount: </strong>{{ formula.pesticide_amount }}</p>
      <p class="card-text"><strong>Pesticide Concentration: </strong>{{ formula.concentration }}</p>
      <p class="card-text"><strong>Adjuvant: </strong> {{ formula.adjuvant }}</p>
      <p class="card-text"><strong>Adjuvant Amount: </strong> {{ formula.adjuvant_amount }}</p>
      <p class="card-text"><strong>Adjuvant Concentration: </strong> {{ formula.adjuvant_concentration }}</p>
      <a href="{% url 'pesticides:formula' %}" class="btn btn-secondary">Back</a>
      <a href="{% url 'pesticides:formula' %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'pesticides:formula' %}" class="btn btn-secondary">Update</a>
    </div>
  </div>
{% endblock %}