{% extends 'pesticides/base.html' %}
{% block content %}
    {% if formulas %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Formula</th>
                <th scope="col">Name</th>
                <th scope="col">Pesticide</th>
                <th scope="col">Concentration</th>
                <th scope="col">Adjuvant</th>
                <th scope="col">Adjuvant Concentration</th>
              </tr>
        </thead>
        <tbody>
            {% for formula in formulas %}
            <tr>
                <td scope="row">
                    <a href="{{ formula.id }}">{{ formula.id }}</a>
                </td>
                <td>
                    {{ formula.name }}
                </td>
                <td>
                    {{ formula.pesticide }}
                </td>
                <td>
                    {{ formula.concentration }}
                </td>
                <td>
                    {{ formula.adjuvant }}
                </td>
                <td>
                    {{ formula.adjuvant_concentration }}
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h1>No records found.</h1>
      {% endif %}
{% endblock %}
